setuptools
hypercorn
fastapi
fastapi[standard]
httpx
sqlalchemy
sqlalchemy[asyncio]
psycopg
langchain[llms]
langchain
langgraph
dependency-injector
alembic
aiobcrypt
pydantic
python-dotenv
redis
pyjwt[crypto]
passlib
pytz
black
